{%extends 'base.html' %}
{%block content%}
<h1>Cart</h1>
{%if cart.products.all%}
<table class="table cart-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
    </tr>
  </thead>
  <tbody class="cart-body">
    {%for p in cart.products.all%}
    <tr class="cart-product">
      <th scope="row">{{forloop.counter}}</th>
      <td><a href="{%url 'product:detail' p.slug%}">{{p.title}}</a>
        {%include 'carts/snippets/remove-product.html' with product_id=p.id%}
      </td>
      <td>{{p.price}}</td>
    </tr>
    {%endfor%}
    <tr>
      <th scope="row">#</th>
      <th>Total</th>
      <th><span class="cart-total">{{cart.total}}</span></th>
    </tr>
    <tr>
      <th scope="row">#</th>
      <th>Checkout</th>
      <th> <a class="btn btn-success"href="{%url 'carts:checkout'%}">checkout</a></th>
    </tr>
  </tbody>
</table>

<div class="cart-item-remove-form" style='display: none;'>
  {%include 'carts/snippets/remove-product.html'%}
</div>

{%else%}
	<p class="lead">Cart is empty</p>
{%endif%}
{%endblock%}